

body {
	background-image: url('../img/japan.gif');
	background-size: 100% 100%;
	color: white;
	background-color: rgba(30, 55, 100, 1);
	background-position:  0px 100px;
}
	

h1 { 
	text-align: center;
}

.main {
	background-color: rgba(0, 0, 0, .7);
	width:  100%;
}

.main p {
	
	text-align: center;
}
	
form {
	margin-bottom: 10px;
}

.radio {
	margin-right: 10px;
}

h1#greeting {
	font-size: 6em;
	padding: 60px 200px 0px;
}

footer {
	position : relative;
    bottom : -27em;
    height : 40px;
    
    margin-left: 10px;
    font-size: .8em;
}

img#logo {
	text-align: center;
	max-height: 350px;
	position: relative;
	left: 35%;
	bottom: 0em;
}

.signUp {
	width: 30%;
	border: 5px solid white;
	font-weight: bold;
	margin: 0 auto; 
	color: #fff;
	text-align: center;
	padding:  12px;
	margin-top: 30px;
	transition: background-color 0.5s ease, color .5s ease;
}

.signUp:hover {
	background-color: #fff;
	color: rgba(0, 0, 0, 1);
	transition: background-color 0.5s ease, color .5s ease;
}

#socialMedia {
	width: 50%;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
}

#socialMedia img {

}
#socialMedia a {
	margin: 0 auto;
}


a:hover {
	text-decoration: none;
}

@media only screen and (max-width: 769px)  {
	h1, h1#greeting {
		font-size: 4em;
	}

	h1#greeting {
		margin: 0 auto;
		padding: 100px 0 0;
		
	}
}