/*Style rules roughly in order of elements appearance on the page.  Media queries at the bottom*/

body {
	color: #EEEEEE;
	/*background: url('../img/compass.svg') no-repeat, #222831;*/
	background-color: #222831;

}

#navForm  {
	color: white;

}
	
h1 { 
	text-align: center;
}		

.banner h1 {
	font-size: 6em;
	padding: 160px 200px 0px;

}

.banner a div {
	border: 5px solid #EEEEEE;
	width: 30%;
	margin: 0 auto; 
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
	padding:  12px;
	color: #EEEEEE;
	transition: background-color 0.5s ease, color .5s ease;
}

form {
	margin-bottom: 10px;
	position: absolute;
	top: 0;
	right: 10px;
}

.radio {
	margin-right: 10px;
}

.btn {
    background-color: #00ADB5; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.banner a div:hover {
	background-color: #EEEEEE;
	color: #222831;
	transition: background-color 0.5s ease, color .5s ease;
}

.main {
	background-color: rgba(0, 0, 0, 1);
	width:  100%;
	transition: background-color 0.5s ease, color .5s ease;
}

.main p {
	position: relative;
	text-align: center;
}

#navForm img {
	max-width: 200px;
}

#navForm {
	position: fixed;
	z-index: 1;
	top: 0;
}

.bgimg-container img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 150px;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.taskbar-scroll {
	background-color: rgba(86, 90, 97, .85);
	color: #565A61;
	transition: background-color 0.5s ease, color .5s ease;
}

#whiteBar {
	width:  90%;  
	height: 20px;
	background-color: #fff;
}

#socialMedia {
	width: 50%;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
}

#socialMedia a {
	margin: 0 auto;
}

a:hover {
	text-decoration: none;
}

.mainContent {
	padding-top: 5em;
	width: 90%;
	color: white;
}

.info {
	background-color: rgba(0,173,181,.5);
	/*background-color: #00ADB5;*/
}

.picture {
	background-color: rgba(86,90,97,.5);
	/*background-color: #565A61;*/
	
}

.info p, .picture p {
	padding: 8em 0 8em;
}

img#logo {
	text-align: center;
	max-height: 350px;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 5em;
	bottom: 0em;
}

footer {
	position : relative;
    bottom : 0em;
    height : 5em;
    margin-left: 10px;
    font-size: .8em;
}

::-webkit-scrollbar {
	width: 15px; 
	height: 3px; 
	background: #222831;
}

::-webkit-scrollbar-thumb {
	background-color:#EEEEEE; 
	border: 1px solid black;
}

@media only screen and (max-width: 769px) and (min-width: 415px)  {
	h1, h1#greeting {
		font-size: 4em;
	}

	#navForm img {
		position: relative;
		max-width: 50%;
		float: left; 
		margin-left: 20px;
	}

	#navForm p {
		display: none;
	}

	h1#greeting {
		margin: 0 auto;
		padding: 350px 0 0;
		
	}
	.banner a div {
		width: 50%;
	}
	img#logo {
		max-height: 230px;
	}

	form.navbar-form { 
		position: relative;
		float: right;

		/*margin-left: 20px;*/
		}
}

@media only screen and (max-width: 414px) {
	h1, h1#greeting {
		font-size: 2em;
	}

	h1#greeting {
		margin: 0 auto;
		padding: 300px 0 0;
		
	}

	img#logo {
		max-height: 180px;
	}

	#navForm p {
		display: none;
	}

	#navForm img {
		max-width: 40%;
		float: left;
		margin-left: 15px;
	}

	form.navbar-form { 
		position: relative;
		float: right;
		margin-left: 20px;
	}

	.banner a div {
		width: 50%;
	}
}