/*Style rules roughly in order of elements appearance on the page.  Media queries at the bottom*/

body {
	color: #EEEEEE;
	/*background: url('../img/compass.svg') no-repeat, #222831;*/
	background-color: #222831;

}


#navForm  {
	color: white;
	padding: 0;
}
	
h1 { 
	text-align: center;
}		

.banner h1 {
	font-size: 6em;
	padding: 180px 200px 0px;

}

.banner a div {
	border: 5px solid #EEEEEE;
	width: 30%;
	margin: 0 auto; 
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
	padding:  12px;
	color: #EEEEEE;
	transition: background-color 0.5s ease, color .5s ease;
}

form {
	margin-bottom: 10px;
	position: absolute;
	top: 27px;
	right: 2em;
}

form a {
	color: #fff;
}

/*  [  ]  Wire up the button in the div below
    [!!]  Change the visibility settings for responsive screens */
#responsiveForm {
	display: none;
}

}
.radio {
	max-width:  50%;
}

.btn {
    background-color: #FF33CC; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.banner a div:hover {
	background-color: #EEEEEE;
	color: #222831;
	transition: background-color 0.5s ease, color .5s ease;
}

.main {
	background-color: rgba(0, 0, 0, 1);
	width:  100%;
	transition: background-color 0.5s ease, color .5s ease;
}

.main p {
	position: relative;
	text-align: center;

}

#whatshapLogo {
	width: 400px;
	top: 20;
	margin: 0 auto;
}

#navForm {
	position: fixed;
	z-index: 1;
	top: 0;
}

#navForm p {
	margin-top: 0px;
}

#navForm h1 {
	margin-bottom: 0;
}

.bgimg-container img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 250px;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.taskbar-scroll {
	background-color: rgba(86, 90, 97, .85);
	color: #565A61;
	transition: background-color 0.5s ease, color .5s ease;
}

#whiteBar {
	width:  90%;  
	height: 1px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 5px;
}

#socialMedia {
	/*width: 50%;*/
	position: absolute;
	margin-left: 2.5em;
	text-align: left;
}

#socialMedia a {
	margin: 0 auto;
}

a:hover {
	text-decoration: none;
}

.mainContent {
	padding-top: 5em;q
	width: 90%;
	color: white;
}

.info {
	background-color: rgba(0,173,181,.5);
	/*background-color: #00ADB5;*/
}

.picture {
	background-color: rgba(86,90,97,.5);
	/*background-color: #565A61;*/
	
}

.info p, .picture p {
	padding: 8em 0 8em;
}

img#logo {
	text-align: center;
	max-height: 350px;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 5em;
	bottom: 0em;
}

footer {
	position : relative;
    bottom : 0em;
    height : 5em;
    margin-left: 10px;
    font-size: .8em;
}

::-webkit-scrollbar {
	width: 15px; 
	height: 3px; 
	background: #222831;
}

::-webkit-scrollbar-thumb {
	background-color:#EEEEEE; 
	border: 1px solid black;
}

@media only screen and (max-width: 800px) {
	#defaultForm {
		visibility: hidden;
	}

	#responsiveForm {
		display: inline;
	}
}

@media only screen and (max-width: 769px) and (min-width: 415px)  {
	h1, h1#greeting {
		font-size: 4em;
	}

	#navForm img {
		position: relative;
		max-width: 40%;
		margin: 0 auto;
	}

	form { 
	  top: 1em;
	}
	
	.btn {
		padding: .6em .6em;
		margin-top: 2.8em;
		margin-right: .5em;
		
	}

	#navForm p {
		display: none;
	}

	h1#greeting {
		margin: 0 auto;
		padding: 350px 0 0;
		
	}
	.banner a div {
		width: 50%;
	}
	img#logo {
		max-height: 180px;
		text-align: center;
	}
	
	#socialMedia {
		position: relative;
		margin-top:  4em;
		/*margin:  0 auto;*/
	
	}

	#socialMedia img {
		max-width: 2.7em;
	}
	
}

@media only screen and (max-width: 414px) {
	h1, h1#greeting {
		font-size: 2em;
	}

	h1#greeting {
		margin: 0 auto;
		padding: 300px 0 0;
		
	}

	img#logo {
		max-height: 180px;
		text-align: center;
	}


	#navForm p {
		display: none;
	}

	#navForm img {
		max-width: 40%;
		margin: 0 auto;
	}

	form { 
	  top: 2.5em;
	}

	#responsiveForm button {
		margin: 0 auto;
		margin-top:  .4em;
	} 

	.btn {
		padding: .6em .6em;
		
	}

	.banner a div {
		width: 50%;
	}

	#socialMedia {
		
		position: relative;
		margin-top: 3em;
		/*display: block;
		margin: 0 auto;
		width:  300px;
		*/
	}

	#socialMedia img {
		max-width: 2.7em;
	}
	
}